<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>5.2-喜马拉雅app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8AD279FC1D33370900B87595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AD27A151D33370900B87595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AD27A201D33370900B87595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
