<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>6.1-使用UITableView展示简单数据.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8AD27AB91D3630E600B87595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AD27AD21D3630E600B87595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AD27ADD1D3630E600B87595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
