<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蓉鱼</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>85</string>
		<key>rackRate</key>
		<string>120</string>
		<key>buyCount</key>
		<string>333</string>
		<key>distance</key>
		<string>4.1km</string>
		<key>icon</key>
		<string>rongyu.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KFC</string>
		<key>desc</key>
		<string>[天河路]20元代金券1份，可叠加</string>
		<key>price</key>
		<string>15</string>
		<key>rackRate</key>
		<string>20</string>
		<key>buyCount</key>
		<string>18853</string>
		<key>distance</key>
		<string>0.4km</string>
		<key>icon</key>
		<string>kfc.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>万岁寿司</string>
		<key>desc</key>
		<string>[体育东路]500元代金券1份，可叠加</string>
		<key>price</key>
		<string>350</string>
		<key>rackRate</key>
		<string>500</string>
		<key>buyCount</key>
		<string>99</string>
		<key>distance</key>
		<string>2.4km</string>
		<key>icon</key>
		<string>wangsui.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>O记茶餐厅</string>
		<key>desc</key>
		<string>[珠江新城]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>85</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>666</string>
		<key>distance</key>
		<string>11.4km</string>
		<key>icon</key>
		<string>oji.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>点都德</string>
		<key>desc</key>
		<string>[中山六]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>88</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>45645</string>
		<key>distance</key>
		<string>8.4km</string>
		<key>icon</key>
		<string>diandoude.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广州酒家</string>
		<key>desc</key>
		<string>[体育东路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>95</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>11235</string>
		<key>distance</key>
		<string>5.4km</string>
		<key>icon</key>
		<string>gzjiujia.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>subway</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>75</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>32</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>subway.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>四海一家</string>
		<key>desc</key>
		<string>[建设六马路]自助餐一位</string>
		<key>price</key>
		<string>135</string>
		<key>rackRate</key>
		<string>168</string>
		<key>buyCount</key>
		<string>11212</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>sihaiyijia.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
</array>
</plist>
