<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇志烤肉</string>
		<key>desc</key>
		<string>[建设六马路]100元代金券1份，可叠加</string>
		<key>price</key>
		<string>90</string>
		<key>rackRate</key>
		<string>100</string>
		<key>buyCount</key>
		<string>1885</string>
		<key>distance</key>
		<string>6.4km</string>
		<key>icon</key>
		<string>yongzhi.png</string>
	</dict>
</array>
</plist>
