<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>icon</key>
		<string>icon_cate_selected_1.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>电影</string>
		<key>icon</key>
		<string>icon_cate_selected_99.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>酒店</string>
		<key>icon</key>
		<string>icon_cate_selected_20.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>休闲娱乐</string>
		<key>icon</key>
		<string>icon_cate_selected_2.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>丽人</string>
		<key>icon</key>
		<string>icon_cate_selected_22.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>机票</string>
		<key>icon</key>
		<string>icon_cate_selected_78.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>热门</string>
		<key>icon</key>
		<string>icon_cate_selected_-2.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>收藏</string>
		<key>icon</key>
		<string>icon_cate_selected_0.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>公益</string>
		<key>icon</key>
		<string>icon_cate_selected_3.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>超市</string>
		<key>icon</key>
		<string>icon_cate_selected_4.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>礼物</string>
		<key>icon</key>
		<string>icon_cate_selected_5.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>超值</string>
		<key>icon</key>
		<string>icon_cate_selected_common.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>酒店</string>
		<key>icon</key>
		<string>icon_cate_selected_20.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>酒店</string>
		<key>icon</key>
		<string>icon_cate_selected_20.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>酒店</string>
		<key>icon</key>
		<string>icon_cate_selected_20.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>酒店</string>
		<key>icon</key>
		<string>icon_cate_selected_20.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>酒店</string>
		<key>icon</key>
		<string>icon_cate_selected_20.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>酒店</string>
		<key>icon</key>
		<string>icon_cate_selected_20.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>酒店</string>
		<key>icon</key>
		<string>icon_cate_selected_20.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>酒店</string>
		<key>icon</key>
		<string>icon_cate_selected_20.png</string>
		<key>desc</key>
		<string></string>
		<key>topMenu</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
