<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10.8-通过代码创建约束.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A1649911D6C21C40064E076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A1649AA1D6C21C40064E076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A1649B51D6C21C40064E076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
