<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01qq登陆.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A447AAE1CAA24C4005D1396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A447AC71CAA24C4005D1396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A447AD21CAA24C4005D1396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
