<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-1ui常用属性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A447C011CAA288C005D1396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A447C1A1CAA288C005D1396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A447C251CAA288C005D1396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
