<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10.5-autolayout案例4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A1648D41D5D6AD50064E076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A1648ED1D5D6AD50064E076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A1648F81D5D6AD50064E076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
