<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>6.5-汽车品牌展示02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A6EC2191D3784AD0059108F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A6EC2321D3784AE0059108F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A6EC23D1D3784AE0059108F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
