<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buyCount</key>
		<string>32</string>
		<key>icon</key>
		<string>caiji.png</string>
		<key>price</key>
		<string>18</string>
		<key>title</key>
		<string>才记面馆</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>88</string>
		<key>icon</key>
		<string>bb.png</string>
		<key>price</key>
		<string>45</string>
		<key>title</key>
		<string>bb bar</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2332</string>
		<key>icon</key>
		<string>lvcha.png</string>
		<key>price</key>
		<string>54</string>
		<key>title</key>
		<string>绿茶餐厅</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>320</string>
		<key>icon</key>
		<string>train.png</string>
		<key>price</key>
		<string>118</string>
		<key>title</key>
		<string>火车头西餐厅</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>445</string>
		<key>icon</key>
		<string>home.png</string>
		<key>price</key>
		<string>87</string>
		<key>title</key>
		<string>家园</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>666</string>
		<key>icon</key>
		<string>xiaojie.png</string>
		<key>price</key>
		<string>75</string>
		<key>title</key>
		<string>小街风情餐吧</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1232</string>
		<key>icon</key>
		<string>mmhy.png</string>
		<key>price</key>
		<string>90</string>
		<key>title</key>
		<string>秘密花园</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>220</string>
		<key>icon</key>
		<string>kzyga.png</string>
		<key>price</key>
		<string>600</string>
		<key>title</key>
		<string>空中一号</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1325</string>
		<key>icon</key>
		<string>zcoffee.png</string>
		<key>price</key>
		<string>40</string>
		<key>title</key>
		<string>zoo coffee</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>604</string>
		<key>icon</key>
		<string>hgxyjn.png</string>
		<key>price</key>
		<string>78</string>
		<key>title</key>
		<string>很高心遇见你</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>80</string>
		<key>icon</key>
		<string>baidg.png</string>
		<key>price</key>
		<string>30</string>
		<key>title</key>
		<string>百搭果</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>32</string>
		<key>icon</key>
		<string>sifangca.png</string>
		<key>price</key>
		<string>210</string>
		<key>title</key>
		<string>私房菜</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>320</string>
		<key>icon</key>
		<string>bybg.png</string>
		<key>price</key>
		<string>450</string>
		<key>title</key>
		<string>白云宾馆</string>
	</dict>
</array>
</plist>
