<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>other.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>other.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>other.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>other.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>other.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>other.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>other.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>other.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>other.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>other.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的xxx好友</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>me.png</string>
				<key>intro</key>
				<string>我的好友1的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
