<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>acschnitzer.png</string>
				<key>name</key>
				<string>ac schnitzer</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>aeflmo.png</string>
				<key>name</key>
				<string>阿尔法罗密欧</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>aodi.png</string>
				<key>name</key>
				<string>奥迪</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>asidunmad.png</string>
				<key>name</key>
				<string>阿斯顿马丁</string>
			</dict>
		</array>
		<key>title</key>
		<string>A</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>baoma.png</string>
				<key>name</key>
				<string>宝马</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>baoshijie.png</string>
				<key>name</key>
				<string>保时捷</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>babosi.png</string>
				<key>name</key>
				<string>巴博斯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>beijingqiche.png</string>
				<key>name</key>
				<string>北京汽车</string>
			</dict>
		</array>
		<key>title</key>
		<string>B</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>changhe.png</string>
				<key>name</key>
				<string>昌河</string>
			</dict>
		</array>
		<key>title</key>
		<string>C</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>dfxtl.png</string>
				<key>name</key>
				<string>东风雪铁龙</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>dihao.png</string>
				<key>name</key>
				<string>帝豪</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>dazhong.png</string>
				<key>name</key>
				<string>大众</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>daoqi.png</string>
				<key>name</key>
				<string>道奇</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>dffs.png</string>
				<key>name</key>
				<string>东风风神</string>
			</dict>
		</array>
		<key>title</key>
		<string>D</string>
	</dict>
</array>
</plist>
