<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>圣诞节圣诞节都是啥</string>
		<key>icon</key>
		<string>icon1.png</string>
		<key>name</key>
		<string>笑多了</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>0日13时，国网北京市电力公司启动预警II级应急响应，安排255支应急抢修队伍、3000余人驻扎全市各抢修驻地，安排水陆两栖车、空气动力船、气垫船、冲锋舟等涉水装备及发电机、照明灯具、水泵等应急装备装车待命，所有设备状态良好，可随时做好应急救援准备。截至目前，北京电网运行平稳。</string>
		<key>icon</key>
		<string>icon0.png</string>
		<key>picture</key>
		<string>baoyu.png</string>
		<key>name</key>
		<string>北京快报</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>aaaaaaaaaaaaaaaaaaaaaa</string>
		<key>icon</key>
		<string>icon2.png</string>
		<key>name</key>
		<string>aaaa</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>bbbbbbbbbbbbbbb</string>
		<key>icon</key>
		<string>icon3.png</string>
		<key>picture</key>
		<string>fengji.png</string>
		<key>name</key>
		<string>bbbb</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>cccccccccccc</string>
		<key>icon</key>
		<string>icon4.png</string>
		<key>name</key>
		<string>cccc</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>dddddddddddddddddddddddddddddddddddddddd</string>
		<key>icon</key>
		<string>icon5.png</string>
		<key>name</key>
		<string>dddddddddd</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>eeeeeeeeeeeeeeee</string>
		<key>icon</key>
		<string>icon6.png</string>
		<key>name</key>
		<string>eee</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>fffffffffffffffffffffffff</string>
		<key>icon</key>
		<string>icon7.png</string>
		<key>name</key>
		<string>fffff</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>gggggggggggggggggggg</string>
		<key>icon</key>
		<string>icon8.png</string>
		<key>name</key>
		<string>ggg</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
