<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>5.4-图片轮播器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8AD27A7A1D34925700B87595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AD27A931D34925700B87595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AD27A9E1D34925700B87595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
